body {
    background: #6190E8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A7BFE8, #6190E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 3rem;
}

h4 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
}

p {
    font-size: 1.25rem;
    margin-top: 0;
    font-style: italic;
}

button {
    height: 8rem;
    width: 8rem;
    border: 1px solid darkslategray;
    border-radius: 50%;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
    background-color: gainsboro;
    border: 2px solid darkslategray;
}